html {
    min-width: 850px;
}

body {
    margin: 0px;
    padding: 0px;
    background-image: url("/images/uboard-background.jpg");
    background-attachment: fixed;
    background-color: #7C7F87;
    color: #0D0024;
    font-family: 'Open Sans', cursive;
}

#container {
    height: auto!important;
    min-height:100%;
    margin: 0 0 -77px;
    background-color: #7C7F87;
}

/*----FONT STYLES---------------------*/
h1 { 
    margin-bottom: -20px;
    margin-top: 3px;
    color: #0D0024;
    font-family: "Paytone One", "Open Sans", serif !important; 
    letter-spacing: 0px;
}

h2, h3 {
    color: #0d0020;
    letter-spacing: -1px;
}

h4 {
    line-height: 0;
    color: whitesmoke;
}


h1, p {
    font-family: 'Ubuntu', 'Open Sans', serif;
}

p { 
    line-height: 29px;
    font-size: 17px;
    color: #333;
}

hr { border-color: #F3F3F3; }
/*----FONT STYLES END-----------------*/


/*----TOP BAR START-------------------*/
#top-banner {
    position: fixed;
    display: block;
    height: 60px;
    width: 100%;
    background-color: #0d0020;
    
    top: 0;
    left: 0;
    z-index: 5;
}

#top {
    color: #DE8642;
    position: relative;
    height: 50px;
    margin: 0 auto;
    min-width: 850px;
    max-width: 1200px;
}

#banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

.logo {
    display: inline-block;
    position: relative;
    height: 50px;
    width: 135px;
    left: 44%;
}

.logo img {
    height: 50px;
    width: 135px;
    margin-top: 1px;
}

.logo img:hover {
    content: url("/images/logos/uboard_logo_side-hover.png");
}

#search-box {
    position: absolute;
    display: inline-block;
    height: 50px;
}

#content-search {
    width: 180px;
    border-radius: 50px;
    font-family: 'Open Sans', cursive;
    color: #0d0020;
    border: 4px solid #DE8642;
    background-color: whitesmoke;
    padding: 5px;
    padding-left: 35px;
    margin-top: 7px;
    margin-left: 10px;
    
    outline: none;
}

#content-search:focus {
    transition: 0.3s;
    border: 4px solid #DE0042;
}

#content-search:focus + #mag-glass {
    transition: 0.3s;
    background-color: #DE0042;
}

#mag-glass {
    content: url("/images/icons/magnifying_glass.png");
    position: absolute;
    height: 20px;
    top: 10px;
    left: 2px;
    padding: 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #DE8642;
    cursor: pointer;
    
    margin-left: 10px;
}

#mag-glass:hover {
    content: url("/images/icons/magnifying_glass-hover.png");
}

#user-auth {
    position: absolute;
    height: 50px;
    width: 200px;
    top: 0px;
    right: 0px;
    
    margin-right: 10px;
}

#login {
    position: absolute;
    display: inline-block;
    right: 0;
    height: 50px;
    padding: 0px 8px 0px 8px;
    background-color: #0d0020;
    text-align: center;
    cursor: pointer;
}
#login img {
    display: inline-block;
    position: relative;
    top: 17px;
    left: -10px;
    height: 21px;
    margin-left: 10px;
}
#login:hover #user-hover {
    transition: 0.3s;
    content: url("/images/login/user-img-hover.png");
}

#login:hover #teacher-hover {
    transition: 0.3s;
    content: url("/images/login/teacher-auth-small-hover.png");
}


#login:hover {
    transition: 0.3s;
    color: whitesmoke;
    background-color: #429ADB;
    box-shadow: 0px -2px 8px #DADADA;
}

.display-modal {
    transition: 0s!important;
    color: whitesmoke!important;
    outline: none!important;
    background-color: #DE0042!important;
    box-shadow: inset 0px -2px 1px #444444;
}
.display-modal #user-hover{
    content: url("/images/login/user-img-hover.png");
}

.display-modal #teacher-hover{
    content: url("/images/login/teacher-auth-small-hover.png");
}

.display-modal:hover {
    box-shadow: 0px -2px 10px #FF4C82!important;
}

.display-modal + #login-modal, 
.display-modal + #logged-in{
    transition: 0.3s;
    display: block;
    height: auto;
}

#login-modal {
    display: none;
    color: whitesmoke;
    z-index: 500;
    position: absolute;
    width: 493px;
    height: 0px;
    background-color: #0d0020;
    border: 5px solid #0d0020;
    border-radius: 17px;
    top: 73px;
    left: -293px;
    box-shadow: -2px 5px 10px #000;
}

#logged-in {
    display: none;
    color: whitesmoke;
    z-index: 500;
    position: absolute;
    width: 190px;
    height: auto !important;
    background-color: #DE0042;
    border-radius: 4px;
    top: 46px;
    left: 40px;
    box-shadow: -2px 5px 10px #000;
    text-align: left;
}
#logged-in div {
    display: block;
    cursor: pointer;
    padding: 5px;
    padding-top: 10px;
}
#logged-in p{
    display: inline-block;
    margin: 0;
    height: 40px;
    margin-left: 20px;
    color: whitesmoke;
}
#logged-in div:hover {
    background-color: #0d0020;
}
#logged-in img{
    position: relative;
    top: 8px;
    left: 2px;
}

#login-modal:after {
    content: "";
    position: absolute;
    width: 43px;
    height: 37px;
    top: -29px;
    left: 432px;
    width: 0;      height: 0;      
    border-bottom: 24px solid #0d0020;            
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
}

#login-user {
    background-color: whitesmoke;
}

#login-pass {
    background-color: whitesmoke;
}

.text-input {
    width: 180px;
    border-radius: 50px;
    font-family: 'Open Sans', cursive;
    color: #0d0020;
    border: 4px solid #DE0042;
    background-color: whitesmoke;
    padding: 5px;
    padding-left: 35px;
    margin-top: 7px;
    margin-left: 10px;
    
    outline: none;
}


#login-user-pic, #login-pass-pic {
    position: absolute;
    height: 16px;
    top: 10px;
    left: 2px;
    padding: 7px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 13px;
    background-color: #DE0042;
    
    margin-left: 10px;
}

#login-user-pic {
    content: url("/images/icons/user.png");
}

#login-pass-pic {
    content: url("/images/icons/lock.png");
    left: 244px;
}

.button{
    display: inline-block;
    width: 223px;
    height: 30px;
    margin: 10px;
    color: whitesmoke;
    background-color: #DE0042;
    border: 0px;
    border-radius: 10px;
    font-size: 12px;
    
    cursor: pointer;
}

.button:hover {
    box-shadow: 0px 0px 10px #A2A2A2;
}

#bottom {
    height: 10px;
    background-color: #DE8642;
    box-shadow: 0px 5px 5px #242424;
}

#login-error {
    display: none;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*---TOP BAR END---------------------*/


/*--CONTENT START--------------------*/
/*--SIDE BAR START-------------------*/
#sidebar {
    background-color: #0d0020;
    display: block;
    position: fixed;
    top: 20%;
    left: 0px;
    width: 100px;
    height: 450px;
    padding: 0px 20px 0px 5px;
    z-index: 5;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.5s;
    box-shadow: 1px 3px 8px black;
}

#sidebar-handle {
    position: absolute;
    right: 10px;
    top: 85px;
    height: 286px;
    width: 2.8px;
    word-wrap: normal;
    background-color: #DE8642;
    border-radius: 60px;
    cursor: pointer;
}

#sidebar-click-area {
    position: absolute;
    top: 12px;
    right: 0px;
    height: 450px;
    width: 18px;
    cursor: pointer;
}

#sidebar-click-area:hover + #sidebar-handle,
#sidebar-handle:hover {
    box-shadow: 0px 0px 8px #FF0000;
    background-color: #DE0042;
}

.hidden {
    transition: 0.5s;
    left: -98px !important;
}
/*--SIDE BAR END---------------------*/


/*--CONTENT-DATA START---------------*/
#content {
    transition: all 0.5s;
    position: relative;
    top: 95px;
    width: 80%;
    display: block;
    height: auto;
    min-width: 300px;
    max-width: 86%;
    box-sizing: border-box;
    margin: 0 auto 50px auto;
    border-radius: 20px;
    padding-bottom: 40px;
}

.content-box {
    transition: all 0.5s;
    width: 100%;
    display: block;
    height: auto;
    border-radius: 10px;
    background-color: white;
    box-shadow: -2px 5px 10px #0E0E0E;
    padding: 30px 80px 30px 80px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.message {
    font-size: xx-large;
    text-align: center;
    width: 100%;
    display: block;
    margin: 0 auto;
    padding-bottom: 150px;
}
/*--CONTENT-DATA END----------------*/

/*--BOX CONTENT START--------------------------*/

#search-content, #high-rated {
    background-color: whitesmoke;
    border-radius: 20px;
    margin-bottom: 15px;
    box-shadow: -4px 4px 15px black;
}

.box-header {
    position: relative;
    width: 100%;
    height: 50px;;
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #0d0020;
    box-sizing: border-box;
}
.box-header h1 {
    position: absolute;
    top: -6px;
    left: 22px;
    font-size: 28px;
    font-family: "Source Code Pro", Arial, serif;
    color: #DE0042;
    -webkit-font-smoothing: antialiased;
}

.box-content {
    display: block;
    width: 100%;
    height: auto;
    padding: 30px;
    box-sizing: border-box;
}

.lesson *, .class * {
    display: inline-block;
    height: auto;
}

.lesson, .class {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin: 0px 0px 10px 0px;
}
.class {
    background-color: rgba(255,165,0,0.3);
}
.lesson .lesson-rating, 
.class .class-rating {
    width: 18%;
    height: auto;
    padding: 3px;
    margin: 5px;
    box-sizing: border-box;
}

.positive-rating, .negative-rating {
    display: block;
    font-weight: bold;
    line-height: 30px;
    width: 100%;
    height: 30px;
    vertical-align: middle;
    text-align: center;
    color: whitesmoke;
    /* text-shadow: -1px 1px 0px black; */
    background-color: #12A369;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 5px 5px 5px 0px;
    /* box-shadow: -1px 2px 1px 0px black; */
}

.negative-rating {
    background-color: #C91441;
}

.content-title {
    width: 70%;
    line-height: 18px;
    vertical-align: middle;
    font-weight: bold;
    text-decoration: none;
    word-wrap: break-word;
    margin: 5px;
    color: #666;
}
.content-title:hover {
    color: #0d0020;
}
/*--BOX CONTENT END---------------------------*/

/*--MODALS START--------------------*/
#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.5;
    background-color: #0d0020;
    width: 100%;
    height: 100%;
    z-index: 6;
}

.box-modal h2 {
    color: #DE0042;
    margin: 0 0 18px 0;
}

.box-modal p {
    font-size: 13px;
    color: whitesmoke;
    text-shadow: 1px 1px #333;
}

.box-modal {
    display: none;
    position: fixed;
    top: 35%;
    left: 50%;
    border-radius: 20px;
    width: 400px;
    margin-left: -270px;
    margin-top: -150px;
    padding: 30px 70px 50px 70px;
    background-color: #0d0020;
    z-index: 10;
}

.box-modal input {
    display: block;
    padding: 5px;
    margin: 0 auto 10px auto;
    border-radius: 6px;
    width: 100%;
    box-sizing: border-box;
    border: 3px solid #FFFFFF;
}

.box-modal input[type="button"] {
    height: 35px;
    background-color: #DE0042;
    border-color: #DE0042;
    color: whitesmoke;
    cursor: pointer;
    display: inline-block;
    width: 49%;
}

.box-modal input[type="button"]:hover {
    background-color: #429ADB;
    border-color: #429ADB;
    box-shadow: 0px 0px 10px #A2A2A2;
}
/*--MODALS END----------------------*/

/*--BOX CONTENT START--------------------------*/
.box{
    position: relative;
    width: 45%;
    height: auto;
    border-radius: 20px;
    margin: 0 auto 20px auto;
    /* box-shadow: -3px 3px 19px black; */
}
#high-rated.box {
    width: 100%;
}

.box-header {
    position: relative;
    width: 100%;
    height: 50px;;
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #0d0020;
    box-sizing: border-box;
}
.box-header h1 {
    position: absolute;
    top: -6px;
    left: 22px;
    font-size: 28px;
}

.box-content {
    display: block;
    width: 100%;
    height: auto;
    padding: 30px;
    box-sizing: border-box;
}
/*--BOX CONTENT ENDS--------------------------*/

/*-- COMMENTS START -------------------*/

#comments.box {
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    margin-top: 25px !important;
}
.comment {
    border-top: 2px solid #999;
    position: relative;
    width: 100%;
    padding: 10px;
}
.comment-user {
    display: inline-block;
    width: 85px;
    margin-left: 10px;
}
.comment-text {
    display: inline-block;
    width: 80%;
    height: 100%;
}
.user {
    font-weight: bold;
    margin: 18px 0px 0px 0px;
}
.text {
    padding: 10px;
    border-radius: 15px;
    margin: 0;
}

#post-comment {
   position: relative;
   top: 0px;
   left: 9%;
   width: 80%;
   height: 23px;
   border-radius: 20px;
   background-color: #DE0042;
   color: whitesmoke;
   cursor: pointer;
   padding: 10px;
   margin: 0px 0px 20px 0px;
}
#post-comment:hover {
    background-color: #429ADB;
}
/*-- COMMENTS END   -------------------*/

/*--CONTENT END---------------------*/